.container {
    height: 100vh;

    padding: 1rem;

    display: flex;
    flex-direction: column;

    aside {
        padding-bottom: 2.5rem;

        display: flex;
        flex-direction: column;

        gap: 2.5rem;
    }
    main { background-color: var(--main-background); }
}



/* Desktop */
@media (min-width: 750px) {
    .container {
        /* A4 2482 x 3508 - 40% ~ rem */
        width: 62.05rem;
        height: 87.7rem;

        box-shadow: 3rem 3rem 1.5rem -1.5rem var(--border);

        padding: 0;

        margin: 2rem auto;

        flex-direction: row;
        justify-content: center;

        border-radius: 0.625rem;
        -webkit-border-radius: 0.625rem;
        -moz-border-radius: 0.625rem;
        -ms-border-radius: 0.625rem;
        -o-border-radius: 0.625rem;

        overflow: hidden;

        aside, main { padding: 2rem; }
        aside {
            width: 40%;

            background-color: var(--aside-background);
        }
        main { width: 60%; }
    }
}